html{
    background-color: antiquewhite;
    margin:20%;
    border-radius: 4%;
    border-color:blanchedalmond;
}

body{
    background-color: rgb(255, 248, 238);
    margin: 10px;
    border: 10px;
    border-color: black;
    padding: 5%;
}

nav{
    align-self: center;
}

img {
    display: flex;
    display: inline;
    width:5%;
    min-width: 128px;
}
